@model PMMX.Modelo.Entidades.Warehouse.BitacoraVentana

@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Style/Select2")

<h2>Bitacora En Ventana</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        <div class="form-group">
            @Html.LabelFor(model => model.IdRechazo,"Rechazo en Ventana: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdRechazo", null, htmlAttributes: new { @class = "form-control select2", @style = "width: 100%;" })
                @Html.ValidationMessageFor(model => model.IdRechazo, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Comentarios, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Comentarios, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Comentarios, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Hidden("IdVentana")
            @Html.Hidden("Activo")
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Continuar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@Scripts.Render("~/JS/jquery")
@Scripts.Render("~/JS/Bootstrap")
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
@Scripts.Render("~/JS/Select2")

<script>
    $(document).ready(function ()
    {
        $('.select2').select2();
        start();

        function start()
        {               
            var IdEvento = $('#IdEvento').val();
            var IdVentana = $('#IdVentanaEvento').val();

            $("#Activo").val(true);
            $("#IdVentana").val(IdVentana);
        }  
    });
</script>

