@model PMMX.Modelo.Entidades.SeguridadFisica.RegistroUnidad

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RegistroUnidad</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Formato.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Formato.Codigo)
        </dd>

        <dt>
            @Html.DisplayName("Nombre del Conductor")
        </dt>

        <dd>
            @foreach (var dato in Model.Datos)
            {
                @Html.DisplayFor(modelItem => dato.NombreConductor)
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empresa)
        </dd>

        <dt>
            @Html.DisplayName("Placas")
        </dt>

        <dd>
            @foreach (var dato in Model.Datos)
            {
                @Html.DisplayFor(modelItem => dato.Placas)
            }
        </dd>

        <dt>
            @Html.DisplayName("#Economico")
        </dt>

        <dd>
            @foreach (var dato in Model.Datos)
            {
                @Html.DisplayFor(modelItem => dato.NoEco)
            }
        </dd>

        <dt>
            @Html.DisplayName("Puerta")
        </dt>

        <dd>
            @foreach (var bitacora in Model.Bitacora)
            {
                @Html.DisplayFor(modelItem => bitacora.Puerta)
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Asunto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asunto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreAutoriza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreAutoriza)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.NoGafette)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoGafette)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @Html.ActionLink("Back to List", "Index", new { Codigo = Model.Formato.Codigo })
    </div>
    }
</div>
