@model PMMX.Modelo.Entidades.SeguridadFisica.RegistroUnidad

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="box box-header bg-yellow d-inline">
    <div class="pull-left"><h3>Ver</h3> </div>
    <div class="pull-right box-tools">
        <div class="pull-right">
            <a href="@Url.Action("Edit", "RegistroUnidad", new {id = Model.Id })" class="btn btn-success btn-sm"><span class="fa fa-pencil" aria-hidden="true"></span></a>
            <a href="@Url.Action("Index", "RegistroUnidad", new { Codigo = Model.Formato.Codigo })" class="btn btn-primary btn-sm"><span class="fa fa-close" aria-hidden="true"></span></a>
        </div>
    </div>
</div>

<div class="box box-primary">    
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Formato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Formato.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Asunto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asunto)
        </dd>

        <dt>
            @Html.DisplayName("Autoriza")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreAutoriza)
        </dd>
        
        <dt><br />Datos Unidad</dt>
        <dd>
            <br />
            <div class="col-md-6">
                <table class="table table-striped">
                    <tr>
                        <th>Nombre del Conductor</th>
                        <th>Datos del Tractor</th>
                        <th></th>
                        <th>Datos del Remolque</th>
                        <th></th>
                    </tr>
                    @foreach (var dato in Model.Datos)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => dato.NombreConductor)</td>
                            <td>@Html.DisplayFor(modelItem => dato.PlacasTractor)</td>
                            <td>@Html.DisplayFor(modelItem => dato.NoEcoTractor)</td>
                            <td>@Html.DisplayFor(modelItem => dato.PlacasRemolque)</td>
                            <td>@Html.DisplayFor(modelItem => dato.NoEcoRemolque)</td>
                        </tr>
                    }
                </table>
            </div>
            <div class="col-md-6">
                <table class="table table-striped">
                    <tr>
                        <th>Tipo de Movimiento</th>
                        <th>Guardia</th>
                        <th>Puerta</th>
                        <th>Fecha</th>
                    </tr>
                    @foreach (var bitacora in Model.Bitacora)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => bitacora.TipoMovimiento)</td>
                            <td>@Html.DisplayFor(modelItem => bitacora.NombreGuardia)</td>
                            <td>@Html.DisplayFor(modelItem => bitacora.Puerta)</td>
                            <td>@Html.DisplayFor(modelItem => bitacora.Fecha)</td>
                        </tr>
                    }
                </table>
            </div>
        </dd>
    </dl>
</div>