@model PMMX.Modelo.Entidades.Warehouse.Ventana

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Ventana</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdEvento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdEvento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Recurso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recurso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdCarrier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdCarrier)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdProcedencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdProcedencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdDestino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdDestino)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdProveedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdProveedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroEconomico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroEconomico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroPlaca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroPlaca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoUnidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoUnidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dimension)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dimension)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Temperatura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Temperatura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Conductor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Conductor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MovilConductor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovilConductor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
