@using Microsoft.AspNet.Identity
@using Sitio.Helpers

<!DOCTYPE html>
<html>
<head>
    <title>PMM | Apps Operation</title>
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    @Styles.Render("~/Style/Bootstrap")
    @Styles.Render("~/Style/Font-Awesome")
    @Styles.Render("~/Style/AdminLTE")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Styles", required: false)

</head>

<body class="hold-transition skin-blue fixed sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <a href="~/" class="logo">
                <span class="logo-mini">
                    <img src="~/img/logo-mini.png" class="img-responsive center-block" />
                </span>
                <span class="logo-lg">
                    <img src="~/img/pmm-mini.png" class="img-responsive center-block" />

                </span>
            </a>
            <nav class="navbar navbar-static-top" style="box-shadow: 4px 4px 20px 0px #444;">
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="@Url.Action("Usuario", "Fotos", new { idUser = User.Identity.GetUserId(), area = "" })" class="user-image" alt="User Image">
                                <span class="hidden-xs">@User.Identity.GetUserName()</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="user-header">
                                    <img src="@Url.Action("Usuario", "Fotos", new { idUser = User.Identity.GetUserId(), area = "" })" class="img-circle" alt="User Image">
                                </li>
                                <li class="user-footer">
                                    <div class="pull-left">
                                        @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Profile", @class = "btn btn-default btn-flat" })
                                    </div>
                                    <div class="pull-right">
                                        @using (Html.BeginForm("LogOff", "Account", new { area = "Seguridad" }, FormMethod.Post, new { id = "logoutForm" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-default btn-flat">Log off</a>
                                        }

                                    </div>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <aside class="main-sidebar" style="box-shadow: 4px 0px 20px #444;">
            <section class="sidebar">
                <br />
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="@Url.Action("Usuario", "Fotos", new { idUser = User.Identity.GetUserId(), area = "" })" class="img-circle" style="width:100%;height:100%" alt="User Image">

                    </div>
                    <div class="pull-left info">
                        @*<p>@Ajax.MenuLink(User.Identity.GetUserName().ToString(), string.Format("{0:c}", ""), "Details", "Profile", new { area = "", id = 66 }, null, null)</p>*@
                        <p>@User.Identity.GetUserName().ToString()</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Buscar...">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>

                <div id="menu">
                    <ul id="menu_ul" class="sidebar-menu" data-widget="tree"></ul>
                </div>
            
            </section>
        </aside>
        <div class="content-wrapper">
            <section class="content" id="row-content">
                @RenderBody()
            </section>
        </div>
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version <small>0.4.0 (BETA) </small></b>
            </div>
            <strong>Copyright &copy; @DateTime.Now.Year </strong> Derechos reservados.
        </footer>
        <div class="control-sidebar-bg"></div>
    </div>

    <script src="https://www.gstatic.com/firebasejs/4.6.1/firebase.js"></script>
    @Scripts.Render("~/JS/jquery")
    @Scripts.Render("~/JS/Complements")
    @Scripts.Render("~/JS/AdminLTE")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
    @Scripts.Render("~/JS/Demo")
    <script src="~/Scripts/app.js"></script>
    @Scripts.Render("~/JS/Bootstrap")
    <script>
        $(document).ready(function ()
        {
            getMenuByPersona();
        });

        function getMenuByPersona() {
            $.ajax({
                dataType: "json",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                traditional: true,
                url: "/Seguridad/Menu/getMenuByPersona",
                success: function (data) {
                    var _menu = data.list.map(function (item2) {
                        return item2.Nombre;
                    }).filter((v, i, a) => a.indexOf(v) === i && v !== undefined);
                    
                    for (i = 0; i < _menu.length; i++) {
                        $("#menu_ul").append('<li class="treeview"><a href="#"><i class="fa fa-gg"></i>' + _menu[i] + '<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span ></a><ul id="'+_menu[i]+'"  class="treeview-menu"></ul></li>');
                       
                        var _submenu = data.list
                           .reduce((result, { Nombre, SubMenu }) => [...result, ...Nombre === _menu[i] ? [SubMenu] : []], [])
                           .filter((value, index, a) => a.indexOf(value) === index && value !== undefined);
                        
                        for (s = 0; s < _submenu.length; s++) {
                            $("#" + _menu[i]).append('<li class="treeview"><a href="#"><i class="fa fa-codepen"></i>' + _submenu[s] + '<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span ></a><ul id="' + _submenu[s] +'"  class="treeview-menu"></ul></li>');
                            var _links = data.list
                                 .reduce((result, { Nombre, SubMenu, Ruta }) => [...result, ...Nombre === _menu[i] && SubMenu === _submenu[s] ? [Ruta] : []], [])
                                .filter((value, index, a) => a.indexOf(value) === index && value !== undefined);

                            for (l = 0; l < _links.length; l++) {
                                $("#" + _submenu[s]).append('<li>'+_links[l]+'</li>');
                            }
                        }
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert('There was an error while fetching data!');
                }
            });
        }
        
    </script>
    @RenderSection("Scripts", required: false)


</body>
</html>

