@using Microsoft.AspNet.Identity
@using Sitio.Helpers

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>PMMX | Apps Operation</title>
    @Styles.Render("~/Style/Bootstrap")
    @Styles.Render("~/Style/Font-Awesome")
    @Styles.Render("~/Style/AdminLTE")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
</head>

<body class="hold-transition skin-blue fixed sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <a href="~/" class="logo">
                <span class="logo-mini"><b>PM</b></span>
                <span class="logo-lg"><b>Philip Morris </b></span>
            </a>
            <nav class="navbar navbar-static-top" style="box-shadow: 4px 4px 20px 0px #444;">
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="@Url.Action("Usuario", "Fotos", new { idUser = User.Identity.GetUserId(), area = "" })" class="user-image" alt="User Image">
                                <span class="hidden-xs">@User.Identity.GetUserName()</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="user-header">
                                    <img src="@Url.Action("Usuario", "Fotos", new { idUser = User.Identity.GetUserId(), area = "" })" class="img-circle" alt="User Image">
                                </li>
                                <li class="user-footer">
                                    <div class="pull-left">
                                        @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Profile", @class = "btn btn-default btn-flat" })
                                    </div>
                                    <div class="pull-right">
                                        @using (Html.BeginForm("LogOff", "Account", new { area = "Seguridad" }, FormMethod.Post, new { id = "logoutForm" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-default btn-flat">Log off</a>
                                        }

                                    </div>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <aside class="main-sidebar" style="box-shadow: 4px 0px 20px #444;">
            <section class="sidebar">
                <br />
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="@Url.Action("Usuario", "Fotos", new { idUser = User.Identity.GetUserId(), area = "" })" class="img-circle" style="width:100%;height:100%" alt="User Image">

                    </div>
                    <div class="pull-left info">
                        <p>@Ajax.MenuLink(User.Identity.GetUserName().ToString() , string.Format("{0:c}", ""), "Details", "Profile", new { area = "", id = 66 }, null, null)</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Buscar...">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">Menu</li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-address-book"></i>
                            <span>Seguridad</span>
                        </a>
                        <ul class="treeview-menu">
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-circle-o"></i> Perfiles
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li class="treeview">
                                        <a href="#">
                                            <i class="fa fa-circle-o"></i> Mantenimiento
                                            <span class="pull-right-container">
                                                <i class="fa fa-angle-left pull-right"></i>
                                            </span>
                                        </a>
                                        <ul class="treeview-menu">
                                            <li>
                                                @Ajax.MenuLink("Mecanicos",string.Format("{0:c}", "fa fa-chrome"), "Index", "Mecanicos", new { area = "Seguridad" }, null, null)
                                            </li>
                                            <li>
                                                @Ajax.MenuLink("Electricos", string.Format("{0:c}", "fa fa-circle-o"), "Index", "Electricos", new { area = "Seguridad" }, null, null)
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="treeview">
                                        <a href="#">
                                            <i class="fa fa-circle-o"></i> Operarios
                                            <span class="pull-right-container">
                                                <i class="fa fa-angle-left pull-right"></i>
                                            </span>
                                        </a>
                                        <ul class="treeview-menu">
                                            <li>
                                                @Ajax.MenuLink("Operadores", string.Format("{0:c}", "fa fa-link"), "Index", "Operadores", new { area = "Seguridad" }, null, null)
                                            </li>
                                            <li>
                                                @Ajax.MenuLink("Reapers(Operador Delphi)", string.Format("{0:c}", "fa fa-link"), "Index", "Pesadores", new { area = "Seguridad" }, null, null)
                                            </li>
                                            <li>
                                                @Ajax.MenuLink("ShiftLeaders", string.Format("{0:c}", "fa fa-link"), "Index", "ShiftLeaders", new { area = "Seguridad" }, null, null)
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        @Ajax.MenuLink("LineLeaders", string.Format("{0:c}", "fa fa-link"), "Index", "LineLeaders", new { area = "Seguridad" }, null, null)
                                    </li>
                                </ul>
                            </li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-circle-o"></i> Usuarios / Personas
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li>
                                        @Ajax.MenuLink("Puesto", string.Format("{0:c}", "fa fa-link"), "Index", "Puestos", new { area = "Seguridad" }, null, null)
                                    </li>
                                    <li>
                                        @Ajax.MenuLink("Personas", string.Format("{0:c}", "fa fa-link"), "Index", "Personas", new { area = "Seguridad" }, null, null)
                                    </li>
                                    <li>
                                        @Ajax.MenuLink("Users", string.Format("{0:c}", "fa fa-link"), "Index", "Users", new { area = "Seguridad" }, null, null)
                                    </li>
                                    <li>
                                        @Ajax.MenuLink("AspNet Users", string.Format("{0:c}", "fa fa-link"), "Index", "Usuarios", new { area = "Seguridad" }, null, null)
                                    </li>
                                    <li>
                                        @Ajax.MenuLink("Usuarios Por Persona", string.Format("{0:c}", "fa fa-link"), "Index", "UsuariosPorPersonas", new { area = "Seguridad" }, null, null)
                                    </li>
                                </ul>
                            </li>
                            <li>
                                @Ajax.MenuLink("Entornos", string.Format("{0:c}", "fa fa-link"), "Index", "Entornos", new { area = "Seguridad" }, null, null)
                            </li>
                            <li>
                                @Ajax.MenuLink("Dispositivos", string.Format("{0:c}", "fa fa-link"), "Index", "Dispositivos", new { area = "Seguridad" }, null, null)
                            </li>
                        </ul>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-area-chart"></i>
                            <span>Operaciones</span>
                        </a>
                        <ul class="treeview-menu">

                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-circle-o"></i> Indicadores
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li class="treeview">
                                        <a href="#">
                                            <i class="fa fa-circle-o"></i> VQI
                                            <span class="pull-right-container">
                                                <i class="fa fa-angle-left pull-right"></i>
                                            </span>
                                        </a>
                                        <ul class="treeview-menu">
                                            <li>
                                                @Ajax.MenuLink("No Conformidades", string.Format("{0:c}", "fa fa-link"), "Index", "NoConformidades", new { area = "Operaciones" }, null, null)
                                            </li>
                                            <li>
                                                @Ajax.MenuLink("Objetivos", string.Format("{0:c}", "fa fa-link"), "Index", "ObjetivosVQI", new { area = "Operaciones" }, null, null)
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="treeview">
                                        <a href="#">
                                            <i class="fa fa-circle-o"></i> CRR
                                            <span class="pull-right-container">
                                                <i class="fa fa-angle-left pull-right"></i>
                                            </span>
                                        </a>
                                        <ul class="treeview-menu">
                                            <li>
                                                @Ajax.MenuLink("Desperdicios", string.Format("{0:c}", "fa fa-link"), "Index", "Desperdicios", new { area = "Operaciones" }, null, null)
                                            </li>
                                            <li>
                                                @Ajax.MenuLink("Objetivos", string.Format("{0:c}", "fa fa-link"), "Index", "ObjetivosCRR", new { area = "Operaciones" }, null, null)
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="treeview">
                                        <a href="#">
                                            <i class="fa fa-circle-o"></i> Plan Attainment
                                            <span class="pull-right-container">
                                                <i class="fa fa-angle-left pull-right"></i>
                                            </span>
                                        </a>
                                        <ul class="treeview-menu">
                                            <li>
                                                @Ajax.MenuLink("Volumenes De Produccion", string.Format("{0:c}", "fa fa-link"), "Index", "VolumenesDeProduccion", new { area = "Operaciones" }, null, null)
                                            </li>
                                            <li>
                                                @Ajax.MenuLink("Objetivos", string.Format("{0:c}", "fa fa-link"), "Index", "ObjetivosPlanAttainment", new { area = "Operaciones" }, null, null)
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-circle-o"></i> Maquinaria
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li>
                                        @Ajax.MenuLink("Bussines Units", string.Format("{0:c}", "fa fa-link"), "Index", "BussinesUnits", new { area = "Operaciones" }, null, null)
                                    </li>
                                    <li>
                                        @Ajax.MenuLink("Modulos", string.Format("{0:c}", "fa fa-link"), "Index", "Modulos", new { area = "Operaciones" }, null, null)
                                    </li>
                                    <li class="treeview">
                                        <a href="#">
                                            <i class="fa fa-circle-o"></i> Link-Up
                                            <span class="pull-right-container">
                                                <i class="fa fa-angle-left pull-right"></i>
                                            </span>
                                        </a>
                                        <ul class="treeview-menu">
                                            <li>
                                                @Ajax.MenuLink("LUPS", string.Format("{0:c}", "fa fa-link"), "Index", "WorkCenters", new { area = "Operaciones" }, null, null)
                                            </li>
                                            <li>
                                                @Ajax.MenuLink("Origenes", string.Format("{0:c}", "fa fa-link"), "Index", "Origenes", new { area = "Operaciones" }, null, null)
                                            </li>
                                            <li>
                                                @Ajax.MenuLink("Secciones", string.Format("{0:c}", "fa fa-link"), "Index", "ModulosSecciones", new { area = "Operaciones" }, null, null)
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-circle-o"></i> Mantenimiento
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li class="treeview">
                                        <a href="#">
                                            <i class="fa fa-circle-o"></i> Fallas
                                            <span class="pull-right-container">
                                                <i class="fa fa-angle-left pull-right"></i>
                                            </span>
                                        </a>
                                        <ul class="treeview-menu">
                                            <li>
                                                @Ajax.MenuLink("Paros", string.Format("{0:c}", "fa fa-link"), "Index", "Paros", new { area = "Operaciones" }, null, null)
                                            </li>
                                            <li>
                                                @Ajax.MenuLink("Actividad En Paro", string.Format("{0:c}", "fa fa-link"), "Index", "ActividadEnParos", new { area = "Operaciones" }, null, null)
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="treeview">
                                        <a href="#">
                                            <i class="fa fa-circle-o"></i> Defectos
                                            <span class="pull-right-container">
                                                <i class="fa fa-angle-left pull-right"></i>
                                            </span>
                                        </a>
                                        <ul class="treeview-menu">
                                            <li>
                                                @Ajax.MenuLink("Defectos", string.Format("{0:c}", "fa fa-link"), "Index", "Defectos", new { area = "Operaciones" }, null, null)
                                            </li>
                                            <li>
                                                @Ajax.MenuLink("Actividad En Defecto", string.Format("{0:c}", "fa fa-link"), "Index", "ActividadEnDefectos", new { area = "Operaciones" }, null, null)
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-calendar-check-o"></i>Just Do It
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li>
                                        @Ajax.MenuLink("Calendario", string.Format("{0:c}", "fa fa-link"), "Index", "Evento", new { area = "Operaciones" }, null, null)
                                    </li>
                                    <li>
                                        @Ajax.MenuLink("Just Do It", string.Format("{0:c}", "fa fa-link"), "Index", "JustDoIt", new { area = "Operaciones" }, null, null)
                                    </li>
                                </ul>
                            </li>

                            <li>
                                @Ajax.MenuLink("Horarios", string.Format("{0:c}", "fa fa-link"), "Index", "Horarios", new { area = "Operaciones" }, null, null)
                            </li>
                            <li>
                                @Ajax.MenuLink("Marcas", string.Format("{0:c}", "fa fa-link"), "Index", "Marcas", new { area = "Operaciones" }, null, null)
                            </li>
                            <li>
                                @Ajax.MenuLink("Area", string.Format("{0:c}", "fa fa-link"), "Index", "Area", new { area = "Operaciones" }, null, null)
                            </li>
                            <li>
                                @Ajax.MenuLink("SubArea", string.Format("{0:c}", "fa fa-link"), "Index", "SubArea", new { area = "Operaciones" }, null, null)
                            </li>
                            <li>
                                @Ajax.MenuLink("Lista de Distribucion", string.Format("{0:c}", "fa fa-link"), "Index", "ListaDistribucion", new { area = "Operaciones" }, null, null)
                            </li>
                            <li>
                                @Ajax.MenuLink("Calificaciones", string.Format("{0:c}", "fa fa-link"), "Index", "Calificacion", new { area = "Operaciones" }, null, null)
                            </li>
                            <li>
                                @Ajax.MenuLink("Categorias", string.Format("{0:c}", "fa fa-link"), "Index", "Categoria", new { area = "Operaciones" }, null, null)
                            </li>
                            <li>
                                @Ajax.MenuLink("SubCategorias", string.Format("{0:c}", "fa fa-link"), "Index", "SubCategoria", new { area = "Operaciones" }, null, null)
                            </li>
                            <li>
                                @Ajax.MenuLink("Mantenimientos", string.Format("{0:c}", "fa fa-link"), "Index", "Mantenimiento", new { area = "Operaciones" }, null, null)
                            </li>
                        </ul>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-files-o"></i>
                            <span>Cuestionarios</span>
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                @Ajax.MenuLink("Grupo Preguntas", string.Format("{0:c}", "fa fa-link"), "Index", "GrupoPreguntas", new { area = "Cuestionario" }, null, null)
                            </li>
                            <li>
                                @Ajax.MenuLink("Preguntas", string.Format("{0:c}", "fa fa-link"), "Index", "Preguntas", new { area = "Cuestionario" }, null, null)
                            </li>
                            <li>
                                @Ajax.MenuLink("Preguntas x Turno", string.Format("{0:c}", "fa fa-link"), "Index", "PreguntaTurno", new { area = "Cuestionario" }, null, null)
                            </li>
                            <li>
                                @Ajax.MenuLink("Respuestas", string.Format("{0:c}", "fa fa-link"), "Index", "Respuesta", new { area = "Cuestionario" }, null, null)
                            </li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-files-o"></i>
                            <span>Warehouse</span>
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                @Ajax.MenuLink("Calendario", string.Format("{0:c}", "fa fa-link"), "Index", "Evento", new { area = "Operaciones" }, null, null)
                            </li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-circle-o"></i> Ventanas
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li>
                                        @Ajax.MenuLink("Ventanas", string.Format("{0:c}", "fa fa-link"), "Index", "Ventana", new { area = "Warehouse" }, null, null)
                                    </li>
                                    <li>
                                        @Ajax.MenuLink("Actividad Ventana", string.Format("{0:c}", "fa fa-link"), "Index", "ActividadEnVentana", new { area = "Warehouse" }, null, null)
                                    </li>
                                    <li>
                                        @Ajax.MenuLink("Bitacora Ventana", string.Format("{0:c}", "fa fa-link"), "Index", "BitacoraVentana", new { area = "Warehouse" }, null, null)
                                    </li>
                                </ul>
                            </li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-circle-o"></i> Catalogos
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li>
                                        @Ajax.MenuLink("Linea transportista", string.Format("{0:c}", "fa fa-link"), "Index", "Carrier", new { area = "Warehouse" }, null, null)
                                    </li>
                                    <li>
                                        @Ajax.MenuLink("Proveedores", string.Format("{0:c}", "fa fa-link"), "Index", "Proveedores", new { area = "Warehouse" }, null, null)
                                    </li>
                                    <li>
                                        @Ajax.MenuLink("Recursos", string.Format("{0:c}", "fa fa-link"), "Index", "Recursos", new { area = "Warehouse" }, null, null)
                                    </li>
                                    <li>
                                        @Ajax.MenuLink("Ubicaciones", string.Format("{0:c}", "fa fa-link"), "Index", "Locacion", new { area = "Warehouse" }, null, null)
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-files-o"></i>
                            <span>Multimedia</span>
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                @Ajax.MenuLink("Fotos", string.Format("{0:c}", "fa fa-link"), "Index", "Fotos", new { area = "Multimedia" }, null, null)
                            </li>
                        </ul>
                    </li>
                    <li class="header">Apps</li>
                    <li>
                        @Ajax.MenuLink("Maya", string.Format("{0:c}", "fa fa-link"), "Index", "Maya", null, null, null)
                    </li>
                    <li>
                        @Ajax.MenuLink("Augmented Reality", string.Format("{0:c}", "fa fa-link"), "Index", "AugmentedReality", null, null, null)
                    </li>
                    <li>
                        
                        @Html.ActionLink("InSiteLAC", "Index", "InSiteLAC", new { area = "" }, null)
                    </li>
                    <li class="header">Help</li>
                    <li>
                        @Html.ActionLink("Apis", "Index", "Help", new { area = "" }, null)
                    </li>
                </ul>
            </section>
        </aside>
        <div class="content-wrapper">
            <section class="content">
                <div id="row-content"></div>


                @RenderBody()
            </section>
        </div>
        <footer class="main-footer">
                <div class="pull-right hidden-xs">
                    <b>Version <small>0.4.0 (BETA) </small></b>
                </div>
                <strong>Copyright &copy; @DateTime.Now.Year </strong> Derechos reservados.
            </footer>
        <aside class="control-sidebar control-sidebar-dark">
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane" id="control-sidebar-home-tab">
                    <h3 class="control-sidebar-heading">Recent Activity</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-birthday-cake bg-red"></i>
                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>
                                    <p>Will be 23 on April 24th</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-user bg-yellow"></i>
                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>
                                    <p>New phone +1(800)555-1234</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>
                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>
                                    <p>nora@example.com</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-file-code-o bg-green"></i>
                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>
                                    <p>Execution time 5 seconds</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <h3 class="control-sidebar-heading">Tasks Progress</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Custom Template Design
                                    <span class="label label-danger pull-right">70%</span>
                                </h4>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Update Resume
                                    <span class="label label-success pull-right">95%</span>
                                </h4>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-success" style="width: 95%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Laravel Integration
                                    <span class="label label-warning pull-right">50%</span>
                                </h4>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Back End Framework
                                    <span class="label label-primary pull-right">68%</span>
                                </h4>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
                <div class="tab-pane" id="control-sidebar-settings-tab">
                    <form method="post">
                        <h3 class="control-sidebar-heading">General Settings</h3>
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Report panel usage
                                <input type="checkbox" class="pull-right" checked>
                            </label>
                            <p>
                                Some information about this general settings option
                            </p>
                        </div>
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Allow mail redirect
                                <input type="checkbox" class="pull-right" checked>
                            </label>
                            <p>
                                Other sets of options are available
                            </p>
                        </div>
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Expose author name in posts
                                <input type="checkbox" class="pull-right" checked>
                            </label>
                            <p>
                                Allow the user to show his name in blog posts
                            </p>
                        </div>
                        <h3 class="control-sidebar-heading">Chat Settings</h3>
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Show me as online
                                <input type="checkbox" class="pull-right" checked>
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Turn off notifications
                                <input type="checkbox" class="pull-right">
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Delete chat history
                                <a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
                            </label>
                        </div>
                    </form>
                </div>
            </div>
        </aside>
        <div class="control-sidebar-bg"></div>
    </div>





    @Scripts.Render("~/JS/jquery")
    @Scripts.Render("~/JS/Bootstrap")
    @Scripts.Render("~/JS/Complements")
    @Scripts.Render("~/JS/AdminLTE")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
    @Scripts.Render("~/JS/Demo")
    <script src="~/Scripts/app.js"></script>
    @RenderSection("scripts", required: false)
    <script src="https://www.gstatic.com/firebasejs/4.6.1/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyDUJMwUqbaoYb7XPVKKEgd27REuJ2DbWXk",
            authDomain: "serverpmi.tr3sco.net",
            databaseURL: "https://pmmx-a0173.firebaseio.com",
            projectId: "pmmx-a0173",
            messagingSenderId: "575772503257"
        };
        firebase.initializeApp(config);
    </script>




</body>
</html>
