@model IEnumerable<PMMX.Modelo.Entidades.Electricos>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    @Styles.Render("~/Style/DataTables")

}
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Electricos</h3>
                <div class="box-tools">
                    <a href="@Url.Action("Create", "Electricos")" class="btn btn-primary btn-sm">
                        <span class="fa fa-plus" aria-hidden="true"></span>
                    </a>

                </div>
            </div>
            <div class="box-body table-responsive">
                <table class="table table-hover table-striped" id="example1">
                    <thead>
                        <tr class="info" style="width:100%">
                            <th style="width:5%">

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.BusinessUnit.Nombre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Electrico_Persona.Nombre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Activo)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <img src="@Url.Action("Usuario", "Fotos", new { idPersona = item.IdElectrico, area = "" })" class="img-circle img-responsive" style="width:30px;height:30px" />
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BusinessUnit.Nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Electrico_Persona.Nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Activo)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr class="info">
                            <th>

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.BusinessUnit.Nombre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Electrico_Persona.Nombre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Activo)
                            </th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/JS/DataTables")
    <script>
        $(function () {
            $('#example1').DataTable();
        });
        $('#example1 input[type="checkbox"]').iCheck({
            checkboxClass: 'icheckbox_flat-blue',
            radioClass: 'iradio_flat-blue'
        });
    </script>
}
