@model PMMX.Modelo.Entidades.Operaciones.StatusVentana

@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>StatusVentana</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.Hidden("IdVentana")
            @Html.Hidden("IdStatus")
            

            <div class="form-group">
                <ul class="timeline">
                    <!-- timeline time label -->
                    <li class="time-label">
                        <span class="bg-red">
                            10 Feb. 2014
                        </span>
                    </li>
                    <!-- /.timeline-label -->
                    <!-- timeline item -->
                    <li>
                        <!-- timeline icon -->
                        <i class="fa fa-envelope bg-blue"></i>
                        <div class="timeline-item">
                            <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>

                            <h3 class="timeline-header"><a href="#">Support Team</a> ...</h3>

                            <div class="timeline-body">
                                ...
                                Content goes here
                            </div>

                            <div class="timeline-footer">
                                <a class="btn btn-primary btn-xs">...</a>
                            </div>
                        </div>
                    </li>
                    <!-- END timeline item -->
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Siguiente" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</body>
</html>

@Scripts.Render("~/JS/jquery")
@Scripts.Render("~/JS/Bootstrap")
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
<script>
    $(function ()
    {
        start();
        
        function start() {
            var IdEvento = $('#IdEventoModal').val();
            var IdVentana = $('#IdVentanaEvento').val();
            
            $("#IdVentana").val(IdVentana);
            getEstatus();
        }  

        function getEstatus() {
            $.ajax({
                dataType: "json",
                contentType: "application/json",
                url: "/Operaciones/StatusVentana/getEstatusActual?IdVentana=" + $("#IdVentana").val(),
                success: function (data) {
                    $("#IdStatus").val(data);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert('There was an error while fetching data!');
                }
            });
        }

     });
</script>
