@model PMMX.Modelo.Entidades.Operaciones.StatusVentana

@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>StatusVentana</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.Hidden("IdVentana")
            
            <div class="form-group">
                @Html.LabelFor(model => model.IdStatus, "Status: ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <select id="slt-status" class="form-control"></select>
                    @Html.Hidden("IdStatus")
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</body>
</html>

@Scripts.Render("~/JS/jquery")
@Scripts.Render("~/JS/Bootstrap")
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
<script>
    $(function ()
    {
        start();
        
        function start() {
            var IdEvento = $('#IdEvento').val();
            var IdVentana = $('#IdVentanaEvento').val();
            
            $("#IdVentana").val(IdVentana);
            getEstatus();
        }  

        function getEstatus() {
            $.ajax({
                dataType: "json",
                contentType: "application/json",
                url: "/Operaciones/Estatus/GetEstatusbyCategoria?IdCategoria=10",
                success: function (data) {
                    items = '<option></option>';
                    $.each(data.estatus, function (i, k) {
                        items += "<option value='" + k.Id + "'>" + k.Nombre + "</option>";
                    });
                    $('#slt-status').html(items);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert('There was an error while fetching data!');
                }
            });
        }

        $("#slt-status").on("change", function () {
            $("#IdStatus").val($(this).val());
        });

     });
</script>
