@model PMMX.Modelo.Entidades.Warehouse.Ventana

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <div class="progress progress-xs progress-striped active">
        <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
    </div>

    <table class="table">
        <tr class="bg-info">
            <td class="bg-primary"><i class="fa fa-calendar"></i></td>
            <td class="bg-primary"><b>PO</b></td>
            <td>
                @Html.DisplayFor(model => model.PO)
            </td>
            <td>@Html.DisplayFor(model => model.SubCategoria.NombreCorto) (@Html.DisplayFor(model => model.SubCategoria.Nombre))</td>
        </tr>
        <tr class="bg-success">
            <td class="bg-primary"><i class="fa fa-dropbox"></i></td>
            <td class="bg-primary"><b>Material</b></td>
            <td>
                @Html.DisplayFor(model => model.Recurso) @Html.DisplayFor(model => model.Cantidad) pallets
            </td>
            <td>
                Proveedor: @Html.DisplayFor(model => model.Proveedor.Nombre)
            </td>
        </tr>
        <tr class="bg-info">
            <td class="bg-primary"><i class="fa fa-globe"></i></td>
            <td class="bg-primary"><b>Ubicacion</b></td>
            <td>
                Origen : @Html.DisplayFor(model => model.Procedencia.Nombre)
            </td>
            <td>
                Destino : @Html.DisplayFor(model => model.Destino.Nombre)
            </td>
        </tr>
        <tr class="bg-success">
            <td class="bg-primary"><i class="fa fa-truck"></i></td>
            <td class="bg-primary"><b>Transporte</b></td>
            <td>
                Linea transportista: @Html.DisplayFor(model => model.Carrier.NombreCorto)
            </td>
            <td>
                #Economico: @Html.DisplayFor(model => model.NumeroEconomico) </br>
                #Placa: @Html.DisplayFor(model => model.NumeroPlaca)
            </td>
        </tr>
        <tr class="bg-success">
            <td class="bg-primary"></td>
            <td class="bg-primary"></td>
            <td>
                Tipo Unidad: @Html.DisplayFor(model => model.TipoUnidad)
            </td>
            <td>
                Dimension: @Html.DisplayFor(model => model.Dimension) </br>
                Temperatura:@Html.DisplayFor(model => model.Temperatura)
            </td>
        </tr>
        <tr class="bg-info">
            <td class="bg-primary"><i class="fa fa-user"></i></td>
            <td class="bg-primary"><b>Conductor</b></td>
            <td>
                @Html.DisplayFor(model => model.Conductor)
            </td>
            <td>
                @Html.DisplayFor(model => model.MovilConductor)
            </td>
        </tr>

    </table>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
    }
</div>
