@model PMMX.Modelo.Entidades.Warehouse.Ventana

@{
    ViewBag.Title = "Details";
}

<h2>Detalle</h2>

<div>
    <div class="progress progress-xs progress-striped active">
        <div class="progress-bar progress-bar-success" style="width: 100%"></div>
    </div>
    <div>
        @Html.Hidden("IdVentana", Model.Id)
    </div>
    <table class="table">
        <tr class="bg-primary">
            <td><i class="fa fa-star"></i></td>
            <td>Status</td>
            <td><div id="NombreStatus"></div></td>
            <td></td>
        </tr>
        <tr class="bg-info">
            <td class="bg-primary"><i class="fa fa-calendar"></i></td>
            <td class="bg-primary"><b>PO</b></td>
            <td>
                @Html.DisplayFor(model => model.PO)
            </td>
            <td>@Html.DisplayFor(model => model.SubCategoria.NombreCorto) (@Html.DisplayFor(model => model.SubCategoria.Nombre))</td>
        </tr>
        <tr class="bg-success">
            <td class="bg-primary"><i class="fa fa-dropbox"></i></td>
            <td class="bg-primary"><b>Material</b></td>
            <td>
                @Html.DisplayFor(model => model.Recurso) @Html.DisplayFor(model => model.Cantidad) pallets
            </td>
            <td>
                Proveedor: @Html.DisplayFor(model => model.Proveedor.Nombre)
            </td>
        </tr>
        <tr class="bg-info">
            <td class="bg-primary"><i class="fa fa-globe"></i></td>
            <td class="bg-primary"><b>Ubicacion</b></td>
            <td>
               Origen : @Html.DisplayFor(model => model.Procedencia.Nombre)
            </td>
            <td>
                Destino : @Html.DisplayFor(model => model.Destino.Nombre)
            </td>            
        </tr>
        <tr class="bg-success">
            <td class="bg-primary"><i class="fa fa-truck"></i></td>
            <td class="bg-primary"><b>Transporte</b></td>
            <td>
                Linea transportista: @Html.DisplayFor(model => model.Carrier.NombreCorto)
            </td>
            <td>
                #Economico: @Html.DisplayFor(model => model.NumeroEconomico) </br>
                #Placa: @Html.DisplayFor(model => model.NumeroPlaca)
            </td>
         </tr>
        <tr class="bg-success">
            <td class="bg-primary"></td>
            <td class="bg-primary"></td>
            <td>
                Tipo Unidad: @Html.DisplayFor(model => model.TipoUnidad)
            </td>
            <td>
                Dimension: @Html.DisplayFor(model => model.Dimension) </br>
                Temperatura:@Html.DisplayFor(model => model.Temperatura)
            </td>
        </tr>
        <tr class="bg-info">
            <td class="bg-primary"><i class="fa fa-user"></i></td>
            <td class="bg-primary"><b>Conductor</b></td>
            <td>
                @Html.DisplayFor(model => model.Conductor)
            </td>
            <td>
                @Html.DisplayFor(model => model.MovilConductor)
            </td>
        </tr>
        
    </table>

</div>

@Scripts.Render("~/JS/Select2")
<script>
        $(function () {
            var IdVentana = $("#IdVentana").val();
            getStatusActualVentana(IdVentana);
            GetRechazoActualVentana(IdVentana);            
        });
    
        function getStatusActualVentana(IdVentana) {
            $.ajax({
                dataType: "json",
                contentType: "application/json",
                url: "/Warehouse/Ventana/GetStatusActualVentana?idVentana=" + IdVentana,
                success: function (data) {
                    $('#NombreStatus').html(data.status);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert('There was an error while fetching data!');
                }
            });
        }

        function GetRechazoActualVentana(IdVentana) {
            $.ajax({
                dataType: "json",
                contentType: "application/json",
                url: "/Warehouse/Ventana/GetRechazoActualVentana?idVentana=" + IdVentana,
                success: function (data) {
                    estatus = $('#NombreStatus').val() + "/" + data.rechazo;
                    $('#NombreStatus').html(estatus);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert('There was an error while fetching data!');
                }
            });
        }

</script>