@model PMMX.Modelo.Entidades.Warehouse.Ventana

@{
    ViewBag.Title = "Edit";
}

@section Styles {
    @Styles.Render("~/Style/Select2")
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Ventana", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.IdSubCategoria, "Tipo de Ventana:", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("IdSubCategoria", null, htmlAttributes: new { @class = "form-control select2", @style = "width: 100%;" })
                        @Html.ValidationMessageFor(model => model.IdSubCategoria, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.PO, "PO #", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PO, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PO, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.IdProveedor, "Supplier:", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("IdProveedor", null, htmlAttributes: new { @class = "form-control select2", @style = "width: 100%;" })
                        @Html.ValidationMessageFor(model => model.IdProveedor, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.IdProcedencia, "From:", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("IdProcedencia", null, htmlAttributes: new { @class = "form-control select2", @style = "width: 100%;" })
                        @Html.ValidationMessageFor(model => model.IdProcedencia, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.IdDestino, "To:", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("IdDestino", null, htmlAttributes: new { @class = "form-control select2", @style = "width: 100%;" })
                        @Html.ValidationMessageFor(model => model.IdDestino, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.Hidden("IdEvento")
                @Html.Hidden("Activo")
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="box box-danger box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Datos del Recurso</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Recurso, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.Recurso, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Recurso, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Cantidad, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.Cantidad, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Cantidad, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
            <div class="col-md-4">
                <div class="box box-warning box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Datos del Transporte</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.IdCarrier, "Linea", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-12">
                                        @Html.DropDownList("IdCarrier", null, htmlAttributes: new { @class = "form-control select2", @style = "width: 100%;" })
                                        @Html.ValidationMessageFor(model => model.IdCarrier, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.NumeroEconomico, "#Economico", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.NumeroEconomico, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.NumeroEconomico, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.NumeroPlaca, "#Placa", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.NumeroPlaca, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.NumeroPlaca, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.TipoUnidad, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.TipoUnidad, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.TipoUnidad, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Dimension, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.Dimension, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Dimension, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Temperatura, "Temperatura Controlada:", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.Temperatura, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Temperatura, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box box-success box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Datos del Conductor</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-5 col-sm-6 col-xs-12">
                                <div class="info-box">
                                    <span class="info-box-icon bg-aqua"><i class="fa fa-user"></i></span>
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Conductor, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-12">
                                        <i class="fa fa-bus"></i>
                                        @Html.EditorFor(model => model.Conductor, new { htmlAttributes = new { @class = "data-mask" } })
                                        @Html.ValidationMessageFor(model => model.Conductor, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.MovilConductor, "Celular:", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-12">
                                        <i class="fa fa-phone"></i>
                                        @Html.EditorFor(model => model.MovilConductor, new { htmlAttributes = new { @class = "data-mask" } })
                                        @Html.ValidationMessageFor(model => model.MovilConductor, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Editar" class="btn btn-block btn-primary btn-sm" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/JS/Select2")
    <script>
        $(function () {
            var IdEvento = parseInt(getUrlVar("IdEvento"), 10);

            $('.select2').select2();
            $("#Activo").val(true);
            $("#IdEvento").val(IdEvento);

            $('.collapse').collapse()
        });

        function getUrlVar(key) {
            var result = new RegExp(key + "=([^&]*)", "i").exec(window.location.search);
            return result && unescape(result[1]) || "";
        }

        function getSubCategorias() {
            $.ajax({
                dataType: "json",
                contentType: "application/json",
                url: "/Warehouse/Ventana/GetSubCategorias?idCategoria=10",
                success: function (data) {
                    items = '<option></option>';
                    $.each(data.subcategorias, function (i, k) {
                        items += "<option value='" + k.Id + "'>" + k.NombreCorto + "</option>";
                    });
                    $('#IdSubCategoria').html(items);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert('There was an error while fetching Work Centers!');
                }
            });
        }

    </script>
}
