@model PMMX.Modelo.Entidades.Marca

@{
    ViewBag.Title = "Delete";
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">¿Estas Seguro que quieres eliminar esta Marca?</h3>
                <div class="box-tools">
                    
                </div>
            </div>
            <div class="box-body">

                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Codigo_FA)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Codigo_FA)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Descripcion)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Descripcion)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Codigo_Cigarrillo)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Codigo_Cigarrillo)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PesoPorCigarrillo)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PesoPorCigarrillo)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PesoTabacco)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PesoTabacco)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-danger pull-right" />
                        @Html.ActionLink("Regresar a la lista", "Index")
                    </div>
                }
            </div>
        </div>
    </div>
</div>




