@using Sitio.Helpers
@model IEnumerable<PMMX.Modelo.Vistas.PlanDeProduccionPorWorkCenterView>

@{
    ViewBag.Title = "Index";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
}

@section Styles {


}
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Plan de Produccion</h3>
                <div class="box-tools">


                    @Ajax.MenuLink(" Reporte", string.Format("{0:c}", "fa fa-list"), "Reporte", "PlanesDeProduccion", new { area = "Operaciones" }, null, new { @class = "btn btn-primary btn-sm" })

                    @Ajax.MenuLink(" Nuevo", string.Format("{0:c}", "fa fa-plus"), "Create", "PlanesDeProduccion", new { area = "Operaciones" }, null, new { @class = "btn btn-primary btn-sm" })

                    @Ajax.MenuLink(" Upload", string.Format("{0:c}", "fa fa-cloud-upload"), "Upload", "PlanesDeProduccion", new { area = "Operaciones" }, null, new { @class = "btn btn-primary btn-sm" })


                </div>
            </div>
            <div class="box-body no-padding">
                

                    <table class="table table-bordered table-striped">

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td >
                                        @Html.DisplayFor(modelItem => item.WorkCenter.Nombre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.WorkCenter.NombreCorto)
                                    </td>
                                    <td>
                                        <table class="table" >

                                            <tbody>
                                                @foreach (var plan in item.Produccion)
                                                {
                                                    <tr style="width:100%">
                                                        <td style="width:50%">@Html.DisplayFor(modelItem => plan.Code_FA)</td>
                                                        <td style="width:50%">@Html.DisplayFor(modelItem => plan.Cantidad)</td>
                                                    </tr>
                                                }
                                            </tbody>


                                        </table>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        
                    </table>



                
            </div>
        </div>
    </div>
</div>

@section Scripts {

}
