@*@model PMMX.Modelo.Entidades.MecanicoPorBusinessUnit*@
@model PMMX.Modelo.Entidades.Mecanicos

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>MecanicoPorBusinessUnit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdMecanico)
        </dt>

        <dd>
            @Html.DropDownList("IdMecanico", null, htmlAttributes: new { @class = "form-control" })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusinessUnit.Nombre)
        </dt>

        <dd>
            @Html.DropDownList("IdBusinessUnit", null, htmlAttributes: new { @class = "form-control" })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
