@model IEnumerable<PMMX.Modelo.Entidades.Maquinaria.WorkCenter>

@{
    ViewBag.Title = "Index";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    @Styles.Render("~/Style/DataTables")
}

<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-md-4">

            <div class="box box-widget widget-user-2">
                <div class="widget-user-header bg-gray">
                    @*<div class=@(item.Activo ? "widget-user-header bg" : "widget-user-header bg-red")>*@
                    <div class="widget-user-image">
                        @if (item.Responsable != null)
                        {
                            <img class="img-circle" src="@Url.Action("Usuario", "Fotos", new { idPersona = item.IdResponsable, area = "" })" alt="User Avatar">
                        }

                    </div>

                    <h3 class="widget-user-username">@Html.DisplayFor(modelItem => item.Nombre) - @Html.DisplayFor(modelItem => item.NombreCorto)</h3>
                    <h5 class="widget-user-desc">@Html.DisplayFor(modelItem => item.BussinesUnit.Nombre)</h5>

                    @*@Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @class = "btn btn-danger pull-right" })
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-default pull-right" })
                    @Html.ActionLink("Detalles", "Details", new { id = item.Id }, new { @class = "btn btn-default pull-right" })*@

                </div>
                <div class="box-footer">
                    <div class="row">
                        <ul class="nav nav-stacked">
                            <li><a href="@Url.Action("Modulos", "WorkCenters", new { idWorkCenter = item.Id })">Modulos <span class="pull-right badge bg-gray">@Html.DisplayFor(modelItem => item.NumeroDeModulos)</span></a></li>
                            <li><a href="@Url.Action("Operadores", "WorkCenters", new { idWorkCenter = item.Id })">Operadores <span class="pull-right badge bg-gray">@Html.DisplayFor(modelItem => item.NumeroDeOperadores)</span></a></li>
                            
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 border-right">
                            <div class="description-block">
                                <h5 class="description-header"></h5>
                                <span class="description-text"></span>
                            </div>

                        </div>

                        <div class="col-sm-4 border-right">
                            <div class="description-block">
                                <h5 class="description-header"></h5>
                                <span class="description-text"></span>
                            </div>

                        </div>

                        <div class="col-sm-4">
                            <div class="description-block">
                                <h5 class="description-header"></h5>
                                <span class="description-text"></span>
                            </div>

                        </div>

                    </div>


                </div>
            </div>

        </div>

        @*<td>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                        <i class="fa fa-gear"></i>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu1">
                        <li role="presentation"></li>
                        <li role="presentation"></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation"></li>
                    </ul>
                </div>
            </td>*@

    }

    <div class="col-md-4">
        <a href="@Url.Action("Create", "WorkCenters")" class="btn btn-primary btn-sm">
            <span class="fa fa-plus" aria-hidden="true"></span>
        </a>
        

    </div>

</div>







@section Scripts {

}
