@model PMMX.Modelo.Entidades.Desperdicio

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Desperdicio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MarcaDelCigarrillo.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarcaDelCigarrillo.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reportante.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reportante.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seccion.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seccion.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkCenter.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkCenter.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
