@model IEnumerable<PMMX.Modelo.Vistas.ReporteView>

@{
    ViewBag.Title = "Index";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
}


@section Styles {


}


<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Desperdicios</h3>
                <div class="box-tools">
                    <a href="@Url.Action("Create", "Desperdicios")" class="btn btn-primary btn-sm">
                        <span class="fa fa-plus" aria-hidden="true"></span>
                    </a>
                    <a href="@Url.Action("Reporte", "Desperdicios")" class="btn btn-primary btn-sm">
                        <span class="fa fa-list-alt" aria-hidden="true"></span>
                    </a>

                </div>
            </div>
            <div class="box-body table-responsive">
                <table class="table table-hover table-striped" id="example1">
                    <thead>
                        <tr class="info">
                            <th>
                                @Html.DisplayNameFor(model => model.Nombre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NombreCorto)
                            </th>
                            <th>

                            </th>
                            <th>
                                Total
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NombreCorto)
                                </td>
                                <td>
                                    @if (item.Codes_FA.Count() > 0)
                                    {
                                        <table class="table table-hover table-striped">
                                            <thead>
                                                <tr class="info">
                                                    <th>
                                                        CODE FA
                                                    </th>
                                                    <th>
                                                        DESCRIPCION
                                                    </th>
                                                    <th>
                                                        TOTAL
                                                    </th>

                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var code_fa in item.Codes_FA.Distinct())
                                                {
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => code_fa.Code_FA)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => code_fa.Cantidad)
                                                        </td>
                                                        <td></td>
                                                        <td>
                                                            @Html.ActionLink("Edit", "Edit", new { id = code_fa.Code_FA }) |
                                                            @Html.ActionLink("Details", "Details", new { id = code_fa.Code_FA }) |
                                                            @Html.ActionLink("Delete", "Delete", new { id = code_fa.Code_FA })
                                                        </td>
                                                    </tr>
                                                }

                                            </tbody>
                                            <tfoot>
                                                <tr class="info">
                                                    <th>
                                                        CODE FA
                                                    </th>
                                                    <th>
                                                        DESCRIPCION
                                                    </th>
                                                    <th>
                                                        TOTAL
                                                    </th>

                                                    <th></th>
                                                </tr>
                                            </tfoot>
                                        </table>

                                    }

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DesperdiciosTotal)
                                </td>
                                <td>
                                    @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr class="info">
                            <th>
                                @Html.DisplayNameFor(model => model.Nombre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NombreCorto)
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.Desperdicios)*@
                            </th>
                            <th>
                                Total
                            </th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>

            </div>
        </div>
    </div>
</div>




@section Scripts {

}