@model PMMX.Modelo.Entidades.NoConformidad

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>NoConformidad</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Persona.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Persona.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seccion.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seccion.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkCenter.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkCenter.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CodeDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodeDescription)
        </dd>
        

        <dt>
            @Html.DisplayNameFor(model => model.Calificacion_VQI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Calificacion_VQI)
        </dd>

        
        
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
