@model PMMX.Modelo.Entidades.Electricos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Electricos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BusinessUnit.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessUnit.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Electrico_Persona.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Electrico_Persona.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
