@model PMMX.Modelo.Entidades.Operaciones.Evento

@{
    ViewBag.Title = "Create";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    @Styles.Render("~/Style/Bootstrap")
    @Styles.Render("~/Style/DataRangePicker")
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Evento</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Descripcion, "Nombre del Evento: ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FechaInicio, "Fecha Inicio: ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.FechaInicio, new { id = "FechaInicio", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.FechaInicio, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FechaFin, "Fecha Fin: ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.FechaFin, new { id = "FechaFin", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.FechaFin, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Nota, "Comentarios: ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Nota, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Nota, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IdSubCategoria, "Tipo de Evento: ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select id="slt-SubCategoria" class="form-control select2"></select>
            @Html.ValidationMessageFor(model => model.IdSubCategoria, "", new { @class = "text-danger" })
        </div>
    </div>

    <div id="div-ubicacion" class="form-group">
        @Html.Label("Agregar ubicacion: ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBox("Ubicacion", "")
        </div>
    </div>

    <div id="div-personas" class="form-group">
        @Html.Label("Invitar a más personas: ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBox("Responsables", "")
        </div>
    </div>

    <div id="div-lista" class="form-group">
        @Html.Label("Proveedor: ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBox("Distribucion", "")
        </div>
    </div>

    <div class="form-group">
        @Html.Hidden("IdOrigen", 0)
        @Html.Hidden("IdCategoria", 10)
        @Html.Hidden("IdSubCategoria")
        @Html.Hidden("IdResponsables", null)
        @Html.Hidden("Activo")
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
    
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<!-- Modal-->
<div class="modal fade" id="createAssetModal" role="dialog" aria-labelledby="CreateAssetModal" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header alert-info">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div id="createAssetContainer" class="modal-body">
            </div>
        </div>
    </div>
</div>


@section Scripts{
    @Scripts.Render("~/JS/jquery")
    @Scripts.Render("~/JS/Bootstrap")
    @Scripts.Render("~/JS/Moment")
    @Scripts.Render("~/JS/DataRangePicker")

    <script>
        $(document).ready(function ()
        {
            var today = new Date();
            Init();

            $('#FechaInicio').daterangepicker({
                "singleDatePicker": true,
                "timePicker": true,
                "timePicker24Hour": true,
                "locale": {
                    "format": "YYYY-MM-DD  h:mm A",
                    "separator": " - ",
                    "applyLabel": "Apply",
                    "cancelLabel": "Cancel",
                    "firstDay": 1
                },
                "startDate": today,
                "endDate": today,
                "minDate": "YYYY-MM-DD  h:mm A",
                "maxDate": "YYYY-MM-DD  h:mm A"
            });

            $('#FechaFin').daterangepicker({
                "singleDatePicker": true,
                "timePicker": true,
                "timePicker24Hour": true,
                "locale": {
                    "format": "YYYY-MM-DD  h:mm A",
                    "separator": " - ",
                    "applyLabel": "Apply",
                    "cancelLabel": "Cancel",
                    "firstDay": 1
                },
                "startDate": today,
                "endDate": today,
                "minDate": "YYYY-MM-DD  h:mm A",
                "maxDate": "YYYY-MM-DD  h:mm A"
            });

            $('#FechaInicio').on("change", function () {
                $("#FechaFin").val($(this).val());
            });
            
            $("#Ubicacion").click(function () {
                var url = ("/Operaciones/Evento/Ubicaciones");

                $.get(url, function (data) {
                    $('#createAssetContainer').html(data);

                    $('#createAssetModal').modal('show');
                });
            });

            $("#Responsables").click(function () {
                var url = ("/Operaciones/Evento/Responsables");

                $.get(url, function (data) {
                    $('#createAssetContainer').html(data);

                    $('#createAssetModal').modal('show');
                });
            });

            $("#Distribucion").click(function () {
                var url = ("/Operaciones/Evento/ListaDistribucion");

                $.get(url, function (data) {
                    
                    $('#createAssetContainer').html(data);

                    $('#createAssetModal').modal('show');
                });
            });

            $("#slt-SubCategoria").on("change", function () {
                $("#IdSubCategoria").val($("#slt-SubCategoria").val());
            });

            function GetSubCategorias() {
                var url = ("/SubCategoria/GetSubCategoriasByCategoria?IdCategoria="+$("#IdCategoria").val());

                $.get(url, function (data) {
                    items = '<option></option>';
                    $.each(data.lista, function (i, k) {
                        items += "<option value='" + k.Id + "'>" + k.Nombre + "</option>";
                    });
                    $('#slt-SubCategoria').html(items);
                });
            }

            function Init() {
                var idCategoria = $('#IdCategoria').val();
                $("#Activo").val(true);

                switch (idCategoria) {
                    case "10": // ventana
                        $("#div-personas").hide();
                        $("#div-ubicacion").hide();
                        $("#div-lista").show();
                        GetSubCategorias();
                        break;
                    default:
                        $("#div-personas").hide();
                        $("#div-ubicacion").hide();
                        $("#div-lista").hide();
                        break;
                }
            }      
        });
    </script>
}