@model PMMX.Modelo.Vistas.EventoView

@{
    ViewBag.Title = "Details";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Style/Bootstrap")

<h2>@Html.DisplayFor(model => model.Descripcion)</h2>

<div>
    <p align="right">
        <button id="btn-Editar" class="btn btn-default"><i class="fa fa-pencil text-info"></i></button>
        <button id="btn-Delete" class="btn btn-default"><i class="fa fa-trash text-danger"></i></button>
    </p>
    <hr />
    @Html.Hidden("Id", Model.Id)
    @Html.Hidden("IdCategoria", Model.IdCategoria)
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.Asignador.Nombre, "Autor: ")
        </dt>

        <dd>
            @Html.Raw(@ViewBag.NombreAsignador)
        </dd>
        <dt>
            @Html.LabelFor(model => model.IdCategoria, "Tipo De Evento: ")
        </dt>

        <dd>
            @Html.Raw(@ViewBag.IdCategoria)
        </dd>

        <dt>
            @Html.LabelFor(model => model.FechaInicio, "Fecha Inicio: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>

        <dt>
            @Html.LabelFor(model => model.FechaFin, "Fecha Fin: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaFin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EsRecurrente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EsRecurrente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

    </dl>
</div>

    <div id="opciones-ventana" class="form-group" align="center">
         <button id="btn-Continuar" class="btn btn-success" >Continuar</button>
         <button id="btn-Rechazo" class="btn btn-danger">Rechazar</button>
    </div>

    @Scripts.Render("~/JS/jquery")
    @Scripts.Render("~/JS/Bootstrap")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")

    <script>
        $(document).ready(function ()
        {
            var id = $("#Id").val();
            start();

            function start()
            {
                var idCategoria = $("#IdCategoria").val();
                $("#opciones-ventana").hide();

                if (idCategoria == 10)
                    $("#opciones-ventana").show();
            }

            $("#btn-Editar").on("click", function ()
            {
                var url = ("/Operaciones/Evento/Edit/"+id);

                $.get(url, function (data) {
                    $('#createAssetContainer').html(data);

                    $('#createAssetModal').modal('show');
                });
            });

            $("#btn-Delete").on("click", function () {
                var url = ("/Operaciones/Evento/Delete/" + id);

                $.get(url, function (data) {
                    $('#createAssetContainer').html(data);

                    $('#createAssetModal').modal('show');
                });
            });

            $("#btn-Continuar").on("click", function () {
                var url = ("/Operaciones/StatusVentana/Create?IdVentana=" + id);

                $.get(url, function (data) {
                    $('#createAssetContainer').html(data);

                    $('#createAssetModal').modal('show');
                });
            });

            $("#btn-Rechazo").on("click", function (e) {
                var url = ("/Warehouse/BitacoraVentana/Create?IdVentana=" + id);
                
                $.get(url, function (data) {
                    $('#createAssetContainer').html(data);
                    $('#createAssetModal').modal('show');
                });
            });

        });
    </script>

