@model IEnumerable<PMMX.Modelo.Entidades.Operaciones.Evento>

@{
    ViewBag.Title = "Index";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
}

    @Styles.Render("~/Style/Bootstrap")
    @Styles.Render("~/Style/Font-Awesome")
    @Styles.Render("~/Style/FullCalendar")
    @Styles.Render("~/Style/AdminLTE")

<link rel="stylesheet" href="~/bower_components/fullcalendar/dist/fullcalendar.print.min.css" media="print">

<h2>Calendario de Eventos</h2>
<p>
    <i class="fa fa-plus-circle text-green"></i>
    @Html.ActionLink("Create New", "Create")
</p>
<p align="center">
    <button class="button btn-info" >DIMS</button>
    <button class="button btn-success">PT</button>
</p>


<div id='calendar' style="width: 70%; height: 70%; max-width: 900px; margin: 0 auto;"></div>

 <!-- Modal-->
<div class="modal fade" id="createAssetModal" role="dialog" aria-labelledby="CreateAssetModal" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header alert-info">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div id="createAssetContainer" class="modal-body">
            </div>
        </div>
    </div>
</div>


        @Scripts.Render("~/JS/Moment")
        @Scripts.Render("~/JS/jquery")
        @Scripts.Render("~/JS/FullCalendar")

        <script>
            $(document).ready(function ()
            {
                GetEvents();

                function GetEvents()
                {
                    $.ajax({
                        dataType: "json",
                        contentType: "application/json",
                        data: "{}",
                        url: "/Evento/GetEvents",
                        dataType: "json",
                        success: function (data) {
                            $('#calendar').fullCalendar({
                                theme: false,
                                header: {
                                    left: 'prev,next today',
                                    center: 'title',
                                    right: 'month,basicWeek,basicDay'
                                },
                                defaultView: 'month',
                                editable: false,
                                lang: 'es',
                                eventLimit: 4,
                                eventLimitText: 'More',
                                weekMode: 'liquid',
                                events: $.map(data.events, function (item, i) {
                                    var event = new Object();
                                    event.start = moment(item.FechaInicio).utc();
                                    event.end = moment(item.FechaFin).utc();
                                    event.title = item.Descripcion;
                                    event.brief = item.Nota;
                                    event.id = item.Id;

                                    return event;
                                }),
                                eventClick: function (calEvent, jsEvent, view)
                                {
                                    var url = "/Operaciones/Evento/Details/" + calEvent.id;

                                    $.get(url, function (data) {
                                        $('#createAssetContainer').html(data);
                                        $('#createAssetModal').modal('show');

                                    });
                                }

                            });

                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            alert('There was an error while fetching events!');
                        }
                    });
                }

            });
        </script>
    
