
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>PMMX - Aplicaciones</title>
    @Styles.Render("~/Style/Vendor/Bootstrap")
    @Styles.Render("~/Style/Vendor/Font-Awesome")
    @Styles.Render("~/Style/Vendor/SimpleLineIcons")
    @Styles.Render("~/Style/Vendor/DeviceMockups")
    @Styles.Render("~/Style/Vendor/NewAge")

</head>
<body id="page-top">

    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">APLICACION MAYA</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#features">Caracteristicas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#download">Descarga</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#contact">Contactanos</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-7 my-auto">
                    <div class="header-content mx-auto">
                        <h1 class="mb-5">
                            La aplicación que transformara operaciones conectandonos para reducir las perdidas en nuestros procesos generando soluciones agiles y a tiempo.
                        </h1>
                        <a href="#download" class="btn btn-outline btn-xl js-scroll-trigger">Descarga / Instrucciones</a>
                    </div>
                </div>
                <div class="col-lg-5 my-auto">
                    <div class="device-container">
                        <div class="device-mockup galaxy_s5 portrait white">
                            <div class="device">
                                <div class="screen">
                                    <img src="~/img/maya/screen-1.png" class="img-fluid" alt="" />
                                </div>
                                <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="features" id="features">
        <div class="container">
            <div class="section-heading text-center">
                <h2>Caracteristicas</h2>
                <p class="text-muted">Pensado en funcionalidad!!</p>
                <hr>
            </div>
            <div class="row">
                <div class="col-lg-4 my-auto">
                    <div class="device-container">
                        <div class="device-mockup galaxy_s5 portrait white">
                            <div class="device">
                                <div class="screen">
                                    <img src="~/img/maya/screen-2.png" class="img-fluid" alt="" />
                                </div>
                                <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 my-auto">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="feature-item">
                                    <i class="icon-screen-smartphone text-primary"></i>
                                    <h3>Movilidad</h3>
                                    <p class="text-muted">Ready to use HTML/CSS device mockups, no Photoshop required!</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="feature-item">
                                    <i class="icon-camera text-primary"></i>
                                    <h3>Deja de escribir!</h3>
                                    <p class="text-muted">Put an image, video, animation, or anything else in the screen!</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="feature-item">
                                    <i class="icon-lock text-primary"></i>
                                    <h3>Seguridad</h3>
                                    <p class="text-muted">Since this theme is MIT licensed, you can use it commercially!</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="feature-item">
                                    <i class="icon-cloud-upload text-primary"></i>
                                    <h3>Informacion activa</h3>
                                    <p class="text-muted">As always, this theme is free to download and use for any purpose!</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <div class="row">
                <div class="col-lg-8 my-auto">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="feature-item">
                                    <i class="icon-screen-smartphone text-primary"></i>
                                    <h3>Movilidad</h3>
                                    <p class="text-muted">Olvidate del papel y realiza tus Health Checks desde tu dispositivo móvil.</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="feature-item">
                                    <i class="fa fa-heart-o"></i>
                                    <h3>Health Check!</h3>
                                    <p class="text-muted">Realiza Health Check de tu Linkup y comparte tus resultados.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="feature-item">
                                    <i class="fa fa-pie-chart"></i>
                                    <h3>Reportes en tiempo real</h3>
                                    <p class="text-muted">Verifica el estatus de tu Linkup en tiempo real.</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="feature-item">
                                    <i class="icon-cloud-upload text-primary"></i>
                                    <h3>Informacion activa</h3>
                                    <p class="text-muted">Información disponible 24/7.</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 my-auto">
                    <div class="device-container">
                        <div class="device-mockup iphone6 portrait white">
                            <div class="device">
                                <div class="screen">
                                    <img src="~/img/maya/screen-3.png" class="img-fluid" alt="" />
                                </div>
                                <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>

    <section class="download bg-primary text-center" id="download">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <h2 class="section-heading">Descubre MAYA!</h2>
                    <p>Aplicacion disponible en Android/IOS </p>
                </div>
            </div>
            <br />
            <br />
            <br />
            <br />
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <h2 class="section-heading">IOS</h2>
                    <div class="row">
                        <div class="col-lg-4 my-auto">
                            <div class="device-container">
                                <div class="device-mockup iphone6_plus portrait white">
                                    <div class="device">
                                        <div class="screen">
                                            <img src="~/img/maya/screen-4.png" class="img-fluid" alt="" />
                                        </div>
                                        <div class="button">
                                            <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 my-auto">
                            <div class="container-fluid">
                                <div class="row">
                                        <div class="col-md-12">
                                            <form class="form-horizontal">
                                                <div class="form-group">
                                                    <label for="exampleInputName2">Name</label>
                                                    <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputEmail2">Email</label>
                                                    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
                                                </div>
                                                <div class="form-group ">
                                                    <label for="exampleInputText">Your Message</label>
                                                    <textarea class="form-control" placeholder="Description"></textarea>
                                                </div>
                                                <button type="submit" class="btn btn-default">Send Message</button>
                                            </form>
                                        </div>
                                    
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <h2 class="section-heading">Android</h2>
                    <div class="row">
                        <div class="col-lg-4 my-auto">
                            <div class="device-container">
                                <div class="device-mockup galaxy_s5 portrait white">
                                    <div class="device">
                                        <div class="screen">
                                            <img src="~/img/maya/screen-2.png" class="img-fluid" alt="" />
                                        </div>
                                        <div class="button">
                                            <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 my-auto">
                            <div class="container-fluid">

                                <div class="row">
                                    <div class="col-lg-12">
                                        <h3>1) <a href="@Url.Action("Download", "Maya", new { area = "" })" class="btn btn-outline btn-xl js-scroll-trigger">Descarga</a></h3>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-12">
                                            <h3>2) Concede permisos</h3>
                                        
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-12">
                                            <h3>3) Instala</h3>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        

                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="cta">
        <div class="cta-content">
            <div class="container">
                <h2>Stop waiting.<br>Start building.</h2>
                <a href="#contact" class="btn btn-outline btn-xl js-scroll-trigger">Let's Get Started!</a>
            </div>
        </div>
        <div class="overlay"></div>
    </section>
    


    <footer>
        <div class="container">
            <p>&copy; 2017 PMMX.</p>

        </div>
    </footer>


    @Scripts.Render("~/JS/Vendor/JQuery")
    @Scripts.Render("~/JS/Vendor/Popper")
    @Scripts.Render("~/JS/Vendor/Bootstrap")
    @Scripts.Render("~/JS/Vendor/JQueryEasing")
    @Scripts.Render("~/JS/Vendor/NewAge")

</body>
</html>

