@model PMMX.Modelo.Vistas.GembaWalkView

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div class="row">
    <div class="col-md-9">
        <div class="box box-widget">
            <div class="box-header with-border">
                <div class="user-block">
                    <img class="img-circle" src="~/img/user-default.png" alt="User Image" />
                    <span class="username"><a href="#">@Html.DisplayFor(model => model.Reportador.Nombre) @Html.DisplayFor(model => model.Reportador.Apellido1) @Html.DisplayFor(model => model.Reportador.Apellido2).</a></span>
                    <span class="description">Reportado @Html.DisplayFor(model => model.FechaReporte)</span>
                </div>
                <div class="box-tools">
                    <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Mark as read">
                        <i class="fa fa-circle-o"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body">
                <img class="img-responsive" src="@Url.Action("GembaWalk", "Fotos", new { IdGembaWalk = Model.Id, area = "" })" alt="Image" style="width:100%;height:100%" />

                <p>@Html.DisplayFor(model => model.Descripcion)</p>
            </div>
            <div class="box-footer">

                @using (Html.BeginForm("CreateComentario", "GembaWalk", new { area = "Evento" }, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("IdGembaWalk", Model.Id)

                    <img class="img-responsive img-circle img-sm" src="~/img/user-default.png" alt="Alt Text">
                    <span class="username">
                        Nombre
                        <span class="text-muted pull-right">@DateTime.Now</span>
                    </span>
                    <div class="img-push">
                        @Html.Editor("Opinion", new { @class = "form-control input-sm", placeholder = "Press enter to post comment" })
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Estatus</h3>
                    <h3 class="box-title pull-right">
                        @if (Model.Activo == true)
                        {
                            <i class="text-green">@ViewBag.Estatus</i>
                        }
                        else
                        {
                            <i class="fa fa-fw fa-toggle-off text-red">@ViewBag.Estatus</i>
                        }
                    </h3>
                    <div>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("IdGembaWalk", Model.Id)
                            
                            <div class="img-push">
                                @*@Html.DropDownList("IdEstatus", null, "Select a name")*@
                                <select id="IdEstatus" class="form-control"></select>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        @if (Model.Tipo == 1)
                        {
                            <p class="text-green">JustDoIt</p>
                        }
                        else if (Model.Tipo == 2)
                        {
                            <p class="text-red">CAPAIA</p>
                        }
                    </h3>
                </div>
                <div class="box-body">
                    <p class="text-muted">
                        <strong>@Html.DisplayFor(model => model.SubCategoria.Nombre)</strong>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Prioridad</h3>
                    <h3 class="box-title pull-right">
                        @if (Model.Prioridad == 3)
                        {
                            <i class="fa fa-circle-o text-red"> Alta</i>
                        }
                        else if (Model.Prioridad == 2)
                        {
                            <i class="fa fa-circle-o text-yellow"> Media</i>
                        }
                        else
                        {
                            <i class="fa fa-circle-o text-aqua"> Baja</i>
                        }
                    </h3>
                </div>
            </div>
        </div>
       <div class="row">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Detalle</h3>
                </div>
                <div class="box-body">
                    <strong><i class="fa fa-wrench margin-r-5"></i> Asignado a:</strong>
                    <p class="text-muted">
                        @Model.Responsable.Nombre @Model.Responsable.Apellido1 @Model.Responsable.Apellido2
                    </p>
                    <hr>
                    <strong><i class="fa fa-calendar margin-r-5"></i> Fecha Estimada de Reparación:</strong>
                    <p class="text-muted">
                        @Html.DisplayFor(model => model.FechaEstimada)
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Localización del Defecto</h3>
                </div>
                <div class="box-body">
                    <strong><i class="fa fa-map-marker margin-r-5"></i> Busness Unit</strong>
                    <p class="text-muted">
                        @Html.DisplayFor(model => model.Origen.WorkCenter.BussinesUnit.NombreCorto)
                    </p>
                    <hr>
                    <strong><i class="fa fa-map-marker margin-r-5"></i> Link Up</strong>
                    <p class="text-muted">
                        @Html.DisplayFor(model => model.Origen.WorkCenter.NombreCorto)
                    </p>
                    <hr>
                    <strong><i class="fa fa-map-marker margin-r-5"></i> Modulo</strong>
                    <p class="text-muted">
                        @Html.DisplayFor(model => model.Origen.Modulo.NombreCorto)
                    </p>
                </div>
            </div>
        </div>
    </div>


</div>


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
    @Html.ActionLink("Back to List", "Index")
</p>

@Scripts.Render("~/JS/jquery")
@Scripts.Render("~/JS/Bootstrap")
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
<script>
    $(function ()
    {
        getEstatus();

        function getEstatus() {
            $.ajax({
                dataType: "json",
                contentType: "application/json",
                url: "/Operaciones/Estatus/GetEstatusbyCategoria?IdCategoria=7",
                success: function (data) {
                    items = '<option></option>';
                    $.each(data.estatus, function (i, k) {
                        items += "<option value='" + k.Id + "'>" + k.Nombre + "</option>";
                    });
                    $('#IdEstatus').html(items);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert('There was an error while fetching Work Centers!');
                }
            });
        }
        
        $("#IdEstatus").on("change", function () {

            var IdGembaWalk = $("#IdGembaWalk").val();
            var IdStatus = $("#IdEstatus").val();
            var IdRechazo = 1;
            
            var data = { "IdGembaWalk": IdGembaWalk, "IdStatus": IdStatus, "IdRechazo": IdRechazo };

            $.ajax({
                type: "POST",
                dataType: "json",
                contentType: "application/json",
                url: "/Operaciones/GembaWalk/ChangeStatus",
                data: JSON.stringify(data),
                success: function (data) {
                    location.reload();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert('There was an error while fetching data!');
                }
            });
        });

     });
</script>
