@model PMMX.Modelo.Entidades.Pesador

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Pesador</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Area.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Operador_Pesador.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Operador_Pesador.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
